.text-area {
    margin-top: 15px;
    margin-left: -15px;
    width: 100.5%;
    height: 97.5%;
    padding: 10px;
    background: #222;
    border: 1px solid #444;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    resize: none;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Стилізація скролбара для textarea */
.text-area::-webkit-scrollbar {
    width: 4px;
}

.text-area::-webkit-scrollbar-track {
    background: transparent;
}

.text-area::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2px;
}

.text-area::-webkit-scrollbar-thumb:hover {
    background: #444;
}

/* Для Firefox */
.text-area {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}